In [1]:
import pandas as pd
import numpy as np
import tushare as ts
import os 
from tqdm import tqdm
import glob
ts.set_token('0948b6427e46bb1bc7fa60b52df96ab0080b9d4ff80209a5fee99277')
debug = False
from datetime import datetime 
pro = ts.pro_api()

In [13]:
trade_date = '20220915'
stocklist = pro.stock_basic(exchange='', list_status='L', fields='ts_code,symbol,name,area,industry,list_date')

In [14]:
stocklist.head()

     ts_code  symbol  name area industry list_date
0  000001.SZ  000001  平安银行   深圳       银行  19910403
1  000002.SZ  000002   万科A   深圳     全国地产  19910129
2  000004.SZ  000004  ST国华   深圳     软件服务  19910114
3  000005.SZ  000005  ST星源   深圳     环境保护  19901210
4  000006.SZ  000006  深振业A   深圳     区域地产  19920427

In [15]:
trade_cal = pro.trade_cal(exchange='', start_date='20220101', end_date='20220104')
trade_cal = trade_cal[trade_cal.is_open==1]
trade_cal.head()

  exchange  cal_date  is_open pretrade_date
3      SSE  20220104        1      20211231

In [18]:
price_PD = []
for trade_date in trade_cal.cal_date:
    df = [] 
    for code in tqdm(stocklist.ts_code.head(30)):
        tmp = ts.pro_bar(ts_code=code, adj='qfq', start_date=trade_date, end_date=trade_date)
        df.append(tmp)
    df = pd.concat(df)
    price_PD.append(df)
    
price_PD = pd.concat(price_PD).reset_index(drop=True)

price_PD = price_PD.drop_duplicates().sort_values(['ts_code','trade_date']).reset_index(drop=True)
# price_PD.to_csv(f'price_PD.csv', index=False)  ##默认保存为前复权

100%|██████████| 30/30 [00:02<00:00, 10.79it/s]

In [22]:
price_PD = []
for trade_date in trade_cal.cal_date:
    df = [] 
    for code in tqdm(stocklist):
        tmp = ts.pro_bar(ts_code=code, adj=None, start_date=trade_date, end_date=trade_date)
        df.append(tmp)
    df = pd.concat(df)
    price_PD.append(df)
    
price_PD = pd.concat(price_PD).reset_index(drop=True)

price_PD = price_PD.drop_duplicates().sort_values(['ts_code','trade_date']).reset_index(drop=True)
# price_PD.to_csv(f'price_PD_2015至今_未复权.csv', index=False)   #未复权/除权

100%|██████████| 30/30 [00:01<00:00, 23.04it/s]